<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=width=device-width,initial-scale=1.0">
    <title>Mercadoliebre</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg"/>
        <div id="barraBusqueda">Lugar para poner barra de búsqueda</div>
    </br>
        <div id="compraCuotas">Comprá en cuotas y sin tarjeta de crédito</div>
    </header>
    <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
    </nav>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" style="width:100%">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" style="width:100%">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" style="width:100%">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" style="width:100%">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>

        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" style="width:100%">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" style="width:100%">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" style="width:100%">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" style="width:100%">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h2> Pagá con tarjeta o en efectivo</h2>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>    
        </section>    
        <section>
            <h2> Envío gratis desde los $2.500</h2>
            <p> Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>    
        </section>
        <section>
            <h2>Seguridad de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>    
        </section>
        <section>
            <p>Copyright C 1999-2020 MercadoLiebre S.R.L.</p>    
        </section>  
    </footer>
</body>

</html>
